html, body {
  height: 100%;
}

body {
  overflow: hidden;
  margin: 0;
  perspective-origin: 40% 40%;
  perspective: 32em;
  background: linear-gradient(#000000, #696969);
  color: silver;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: #3b1f52;
  overflow: hidden;
}

.main {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: perspective(700px);
}

.box {
  position: absolute;
  transform-style: preserve-3d;
  top: 150px;
}

.polyhedron, .polyhedron *, .polyhedron :before, .polyhedron :after {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
}

.polyhedron--octahedron {
  animation: rot 20s linear infinite;
}

.polyhedron__face {
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: radial-gradient(#fb6200, #fb6200, #c3300f);
}

.polyhedron__face:nth-child(1) {
  transform: rotateY(45deg) translateZ(100px);
}

.poly
