  .polyhedron__face {
    width: 16.32994em;
    height: 16.32994em;
    background: #fb6200;
    border: 1.5em solid #b22708;
  }

  @keyframes rot {
    100% {
      transform: rotateY(360deg);
    }
  }
</style>
